.main-heading {
	font-size: 5em;
	font-weight: 600;
	font-family: 'Give You Glory', 'simplifica', serif;
	color: #fc972f;
	margin: 0px;
	padding: 20px;
}

.info {
	position: relative;
	padding: 0 0 75px 0;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	line-height: 30%;
}

.sticky-graphic-top {
	height: 150px;
	position: sticky;
	top: 0px;
	left: 10%;
	display: block;
}

.sticky-graphic-bottom {
	height: 100px;
	position: sticky;
	bottom: 0px;
	margin-left:85%;
	display: block;
}

.about {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 10px 50px;
	padding: 75px 10px 10px 10px;
}

.bubblegum-bg {
	background-color: #fdc1b4;
	color: #253e49;
}

.about p {
	margin-top: 10px;
}

.sub-heading {
	font-weight: 400;
	font-family: 'Give You Glory', 'simplifica', serif;
	margin: 0px;
}

.about img {
	max-width: 300px;
}

.about p {
	max-width: 400px;
}

.curve {
	height: 50px;
	background:
		radial-gradient(20px at 75% 0%,#ffedd1 98%,#fdc1b4) 50% 20px/80px 100% repeat-x,
		radial-gradient(20px at 25% 50% ,#fdc1b4 99%,#ffedd1 101%) top/80px 40px repeat-x;
}

.curve-footer {
	height: 50px;
	background:
		radial-gradient(20px at 75% 100%,#bcdddc 98%,#fdc1b4) 50% calc(100% - 20px)/80px 100% repeat-x,
		radial-gradient(20px at 25% 50% ,#fdc1b4 99%,#bcdddc 101%) bottom/80px 40px repeat-x;
}

.fa {
	width: 50px;
	text-align: center;
	text-decoration: none;
	color: #253e49;
}

.fa:hover {
	color: #35525e;
}
