.contact-me {
	font-family: 'simplifica';
	color:#f19f4c;
	font-weight: 600;
	font-size: 2em;
	position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.contact-me-heading {
	font-size: 5em;
	font-weight: 500;
	color: #fc972f;
}

.contact-me p {
	line-height: 30%;
}

.info {
	position: relative;
	margin-top: -5%;
	margin-bottom: 5%;
}

.contact {
	margin-top: 50px;
}

.fa {
	width: 50px;
	text-align: center;
	text-decoration: none;
	color: #253e49;
}

.fa:hover {
	color: #35525e;
}