@import './index.css';


@font-face {
    font-family: 'simplifica';
    src: url('./fonts/simplifica_typeface-webfont.eot');
    src: url('./fonts/simplifica_typeface-webfont.woff') format('woff'),
        url('./fonts/simplifica_typeface-webfont.svg#simplifica') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #bcdddc;
    color:#f19f4c;
    width: 100%;
    margin: auto;
    font-family: 'simplifica', Georgia, serif;
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
}

.footer {
    flex-shrink: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #bcdddc;
}

.lace {
    background: #ffedd1;
}