@import './index.css';
@import './about_film.css';

body {
  background-color: white;
  color: #87ceeb;
  max-width: 85%;
  margin:auto;
  font-family: Georgia, serif;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-family: "Arial Black", sans-serif;
  color: #ffbf00;
  text-shadow: 1px 2px black;
}

h2 {
  text-align: center;
  text-shadow: 1px 1px black;
  font-style: italic;
  font-family: "Arial Black", sans-serif;
  color: #6ec1f9;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

a {
  color: #87ceeb;

}

a:visited {
  color: #008fff;
}

@media screen and (max-width: 350px) {
  .about-info {
    background: rgba(255,255,255, 0.99);
    margin-top: 10px;
    margin-left: 0px;
  }
  .about {
    background: black;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 500px) {
  .about-info {
    background: rgba(255,255,255, 0.8);
    margin-left: 0px;
  }
  .line {
    margin-left: 2px;
    color: #ffbf00;
    font-size: .5em;
  }
  .similar {
    font-size: .7em;
  }
}

@media screen and (max-width: 650px) {
  .about-info {
    background: rgba(255,255,255, 0.75);
  }
}
