@import './index.css';
@import './about_film.css';
@import './about_me.css';

@font-face {
  font-family: 'simplifica';
  src: url('./fonts/simplifica_typeface-webfont.eot');
  src: url('./fonts/simplifica_typeface-webfont.woff') format('woff'),
       url('./fonts/simplifica_typeface-webfont.svg#simplifica') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: white;
  color: #4693d6;
  max-width: 85%;
  margin: auto;
  font-family: 'simplifica', Georgia, serif;
  font-size: 1.8em;
  font-weight: 600;
}

.regular-heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.9em;
  font-family: "Arial Black", sans-serif;
  color:#f19f4c;
}

h2 {
  text-align: center;
  line-height: 98%;
  font-family: "Arial Black", sans-serif;
  color: #4483ce;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

a {
  color: #4483ce;
  font-weight: 600;
}

a:visited {
  color: #4483ce;
}

@media screen and (max-width: 350px) {
  .about-film-info {
    background: rgba(255,255,255, 0.99);
    margin-top: 10px;
    margin-left: 0px;
  }
  .about-film {
    background: black;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 500px) {
  .about-film-info {
    background: rgba(255,255,255, 0.9);
    margin-left: 0px;
  }
  .line {
    margin-left: 2px;
    color: #ffbf00;
    font-size: .5em;
  }
  .similar {
    font-size: .7em;
  }
}

@media screen and (max-width: 650px) {
  .about-film-info {
    background: rgba(255,255,255, 0.9);
  }
  .regular-heading {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.1em;
  }
}
